.clr {
	clear: both;
	height:0px;
}

/*format list */

dl.jea_mod_emphasis_item {
	border-bottom: 1px dashed #b2b4bf;
	padding-bottom: 1em;
}

dl.jea_mod_emphasis_item dt.jea_mod_emphasis_title {
	clear: both;
	margin-bottom: 0.7em;
}

dl.jea_mod_emphasis_item dt.jea_mod_emphasis_title strong {
	font-size: 1.3em;
}

dl.jea_mod_emphasis_item dt.image {
	/*float: left;*/
	margin-right: 1em;
}

dl.jea_mod_emphasis_item dt.image img {
	border-color: #819d26;
}

dl.jea_mod_emphasis_item dd {
	margin: 5px 0;
}

dl.jea_mod_emphasis_item span.slogan {
	/*float: right;*/
}

dl.jea_mod_emphasis_item span.slogan strong {
	color: red;
}